<td>
  Surname: <%= eval(@declensions.genitive)[:last_name]%> <br>
 	Name: <%= eval(@declensions.genitive)[:first_name]%> <br>
 	Middle name: <%= eval(@declensions.genitive)[:middle_name]%> <br>
 	Full name: <%= eval(@declensions.genitive)[:full_name]%> 
</td>
<td>
	Surname: <%= eval(@declensions.dative)[:last_name]%> <br>
  Name: <%= eval(@declensions.dative)[:first_name]%> <br>
 	Middle name: <%= eval(@declensions.dative)[:middle_name]%> <br>
 	Full name: <%= eval(@declensions.dative)[:full_name]%> 
</td>
<td>
	Surname: <%= eval(@declensions.accusative)[:last_name]%> <br>
  Name: <%= eval(@declensions.accusative)[:first_name]%> <br>
 	Middle name: <%= eval(@declensions.accusative)[:middle_name]%> <br>
 	Full name: <%= eval(@declensions.accusative)[:full_name]%> 
</td>
<td>
	Surname: <%= eval(@declensions.instrumental)[:last_name]%> <br>
  Name: <%= eval(@declensions.instrumental)[:first_name]%> <br>
 	Middle name: <%= eval(@declensions.instrumental)[:middle_name]%> <br>
 	Full name: <%= eval(@declensions.instrumental)[:full_name]%> 
</td>
<td>
   Surname: <%= eval(@declensions.prepositional)[:last_name]%> <br>
   Name: <%= eval(@declensions.prepositional)[:first_name]%> <br>
   Middle name: <%= eval(@declensions.prepositional)[:middle_name]%> <br>
 	 Full name: <%= eval(@declensions.prepositional)[:full_name]%> 
 </td>