<h1 style="margin-bottom:50px"> Персона </h1>

<table style="background-color:whitesmoke" class="table">
  <thead>
    <th> Фамилия </th>
    <th> Имя </th>
    <th> Отчество </th>
    <th> Пол </th>
    <th colspan="3"> Actions </th>
  </thead>
  <tbody>
    <td><%= @person.last_name %></td>
    <td><%= @person.first_name %></td>
    <td><%= @person.middle_name %></td>
    <td>
      <% if @person.sex.eql?('Male') %>
        Мужской
      <% else %>
        Женский
      <% end %>
    </td>
    <td style="padding-right:10px"><%= link_to 'Редактировать персону', edit_person_path, class: :"button is-small is-warning" %></td>
    <td><%= button_to 'Удалить персону', {controller: :people,
        action: :'destroy', id: @person.id }, class: :"button is-small is-danger", method: :delete %></a></td>
    <td style="padding-right:10px"><%= link_to 'Вернуться ко всем персонам', people_path, class: :"button is-small is-info"%></td>
  </tbody>
</table>

<table style="background-color:whitesmoke" class="table">
  <thead>
    <th> Родительный </th>
    <th> Дательный </th>
    <th> Винительный </th>
    <th> Творительный </th>
    <th> Предложный </th>
  </thead>
  <tbody>
    <%= render @declensions %>
  </tbody>
</table>
